html
	head
		title="Lazyy"
		<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,700,700i" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		link(href="/css/main.css" type="text/css" rel="stylesheet")
		link(rel="stylesheet" href="/css/animate.css")
		link(rel="stylesheet" href="/Morphext/dist/morphext.css")

	body
		div(class="row")
			p(class="headerstay") ⁌⁍

			div(id="leftNav" class="myLeftNav")
				p(class="closebtn" onclick="closeNav()") x

			div(id="main" class="col-md-12")
				div(class="col-md-1")
					p(onclick="openNav()" class="navnav" ) 
						span 

				div(class="col-md-10")
					div(class="firstPart")
						img(class="sv animated " id="sv1" width ="30%" src="/IMGS/tesing.svg" alt="")
						img(class="sv animated " id="sv2" width ="30%" src="/IMGS/testing2.svg" alt="")
						img(class="sv animated " id="sv3" width ="40%" src="/IMGS/testing3.svg" alt="")
						img(class="sv animated " id="sv4" width ="20%" src="/IMGS/testing4.svg" alt="")
						img(class="sv animated " id="sv5" width ="30%" src="/IMGS/testing5.svg" alt="")
						img(class="sv animated " id="sv6" width ="40%" src="/IMGS/testing6.svg" alt="")
						img(class="sv animated " id="sv7" width ="40%" src="/IMGS/testing7.svg" alt="")
						img(class="sv animated " id="sv8" width ="40%" src="/IMGS/testing8.svg" alt="")
						img(class="sv animated " id="sv9" width ="20%" src="/IMGS/testing9.svg" alt="")
						img(class="sv animated " id="sv10" width ="17%" src="/IMGS/testing10.svg" alt="")
						img(class="sv animated " id="sv11" width ="15%" src="/IMGS/testing9.svg" alt="")


						h1(class="title") Get lazyy
						p(class="smalltxt") A web app for <span id="js-rotating">Lazy, Passionate, Musical, Party </span> people.

				div(class="col-md-1")

			div(id="main2" class="col-md-12")
				div(class="col-md-1")
				div(class="col-md-10")
					div(id="click")
						a(href="#anchorS" id="link" )
							p(class="text-center") ↓

					div(class="secondPart" id="anchorS" class="anchor-scroll" data-class-to="body" data-on-scroll="blur-effect")
						div(class="betweenScroll")
						p(class="intro") Lazyy helps you to find events close by where you are, based on what you are listening to on Spotify!
				div(id="main3" class="col-md-12")
					a(href="#login" id="link2" )
								p(class="text-center") ↓
					div(id="login" class="thirdPart" class="anchor-scroll" data-class-to="body" data-on-scroll="blur-effect" )
						div(class="betweenScroll")
						p(class="come text-center") Come on,<br>Log in here !
						div(id="center-button")
							button(type="button" id ="btnSpot" class="btn btn-default btn-lg")
								a(href="/login" id="lolog") log in with spotify

				div(class="col-md-1")

				
		script(src="/js/jquery-3.1.1.min.js")
		script(src="/Morphext/dist/morphext.min.js")
		script(src="/js/jquery.anchorScroll.min.js")
		script(src="/js/main.js")

