html
	head
		title="Lazyy Search"
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
		meta(charset="utf-8")

		link(type='text/css' href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,700,700i" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(href="/css/main.css" type="text/css" rel="stylesheet")
		link(rel="stylesheet" href="/css/animate.css")
		link(rel="stylesheet" href="/Morphext/dist/morphext.css")

	

	body(class="sea")
		div(class="row" id="spage")
			div(class="col-md-12")

				div(class="partbtn")
					div(class="textsearchintro")
						img(class="sv animated " id="sv7" width ="40%" src="/IMGS/testing7.svg" alt="")
						img(class="sv animated " id="sv6" width ="40%" src="/IMGS/testing6.svg" alt="")
						img(class="sv animated " id="sv21" width ="40%" src="/IMGS/testing8.svg" alt="")

						p(class="partBtnnn") Let's get <span class="js-rotating" id="js"> Lazyy, started, fun, music </span> !
						img(class="sv animated " id="sv9" width ="20%" src="/IMGS/testing9.svg" alt="")

						p(class="partBtn2") Get the gigs you want, get the fun you diserve! <br>We just need your location to find them. 
						img(class="sv animated " id="sv20" width ="30%" src="/IMGS/tesing.svg" alt="")
						div(id="click")
							a(href="#righto" id="link" class='smooth'  )
								p(class="text-center" id="hah") ↓

		
		div(class="col-md-12" id="secondi")
			div(id="right" class="center-block")
				div(class="forming")
					div(class="introform")
						p(class="adress" id="righto") Enter your address here:

					div(class="form-inline")
					input#address(type="textbox"  class="form-control input-lg" value="Amsterdam, Netherlands")
					input#submitMap(type="button" class="btn btn-default btn-lg center-block" value="find" method="get" action="/darezult")

			input#sortDate(type="button" class="btn btn-primary btn-lg" value="Sort Dates")
			input#sortDistance(type="button" class="btn btn-primary btn-lg" value="Sort Distance")

			p#results 


		div(class="col-md-8" id="o")
			div#map
		div(class="col-md-12")
			footer(class="footer-distributed")

				div(class="footer-left")

					h3 Get Lazyy					

					p(class="footer-company-name") Get Lazyy &copy; 2015

					div(class="footer-icons")

			div(class="col-md-8")
				div#map


				div(class="footer-right")

					p Contact Us

					form(action="#" method="post")

						input(type="text" name="email" placeholder="Email")
						textarea(name="message" placeholder="Message")
						button Send


script(type="text/javascript" src="/jquery-3.1.1.min.js")
script(src="/js/isotope.pkgd.min.js")
script(src="/js/cells-by-row.js")
script(src="/Morphext/dist/morphext.min.js")
script(src="/js/jquery.anchorScroll.min.js")
script(src="/js/main.js")
script(async defer
    src="https://maps.googleapis.com/maps/api/js?key=" + process.env.GOOGLE_MAPS_API_KEY + "&callback=initMap")
